.loading-draft {
    color: var(--white);
}

main {
    background-color: var(--dark-gray-3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-section {
    display: flex;
    justify-content: center;
    /* align-items: center;  -> Made the selection divs not able to maximize their heights*/
    width: 85%;
    gap: 10px;
} 

.main-articles-buttons {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.main-articles-selection {
    color: var(--white);
    background-color: var(--dark-gray-1);
    font-family: var(--Kdam-Thmor);
    cursor: pointer;
    padding: 35px 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 100%;
    width: 100%;
    /* min-width: 400px; -> Made the main article choices fixed and thus causing overlap*/
}

.main-articles-selection:hover {
    background-color: var(--dark-gray-2);
    opacity: 80%;
}

.selected {
    background-color: var(--red);
}

.main-article-title {
    /* Tempporary font size change for dynamicness */
    font-size: clamp(0.7rem, 0.8vw, 2rem); 
    font-weight: 100;
}

.main-article-date {
    font-size: 0.8rem;
}